@model LWALDTECH.Models.CustomerWorkstation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerWorkstation</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "CustomerID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkstationName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkstationName)
                @Html.ValidationMessageFor(model => model.WorkstationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkstationIPAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkstationIPAddress)
                @Html.ValidationMessageFor(model => model.WorkstationIPAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkstationOS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkstationOS)
                @Html.ValidationMessageFor(model => model.WorkstationOS)
            </div>
        </div>

        @Html.HiddenFor(model => model.WorkstationID)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
